<div class='comment'>
  <%= link_to user_path(comment.user) do %>
  <div class='comment-avatar'>
    <% if @post.user.avatar.attached? %>
    <%= cl_image_tag(@post.user.avatar.key, class:'avatar-small')%>
    <% else %>
    <%= image_tag ('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1P9NIBPbZvN_8V2uZ8cVfm4Rnwwel8_UF_89HT238qUQAOZ1p&usqp=CAU'),  class:'avatar-small' %>
    <% end %>
  </div>
  <% end %>
  <div class='comment-content'>
    <b><%= comment.user.username %></b>
    <p><%= comment.content %></p>
    <% if comment.video.attached? %>
    <%= cl_video_tag(comment.video.key, height: '100%', controls: true, width: '100%', class:'comment-video-player') %>
    <% end %>
  </div>
</div>