<div class='post-buttons'>
  <div class='post-button'>
    <%= post.likes.size %>
    <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
    <%= link_to '', post_like_path(post, pre_like), method: :delete, class:'fas fa-heart', id:'post-icon' %>
    <% else %>
    <%= link_to '', post_likes_path(post), method: :post, class:'far fa-heart', id:'post-icon' %>
    <% end %>
  </div>
  <div class='post-button'>
    <%= post.comments.size %>
    <%= link_to '', new_post_comment_path(post), class:'far fa-comment', id:'post-icon' %>
  </div>
</div>