<div class='post-card'>
  <%= link_to post_path(post) do %>
  <div class='post-user-info pb-0'>
    <%= link_to user_path(post.user) do %>
    <% if post.user.avatar.attached? %>
    <%= cl_image_tag(post.user.avatar.key, class:'avatar-small mr-3')%>
    <% else %>
    <%= image_tag ('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1P9NIBPbZvN_8V2uZ8cVfm4Rnwwel8_UF_89HT238qUQAOZ1p&usqp=CAU'),  class:'avatar-small mr-3' %>
    <% end %>
    <% end %>
    <div class='comment-content'>
      <b><%= post.user.username %></b>
      <p><%= post.description %></p>
    </div>
  </div>
  <% if post.video.attached? %>
  <%= cl_video_tag(post.video.key, height: '100%', controls: true, width: '100%', class:'video-player', controlsList:"nodownload nofullscreen noremoteplayback", controlls: 'false') %>
  <% end %>
  <% end %>

  <%= render  "shared/post_buttons", post: post %>

  <% if post.comments.size > 1 %>
  <%= link_to post_path(post) do %>
  View All Replies
  <% end %>
  <% end %>
</div>