<%= render  "shared/top_bar", center: ("#{@post.user.username}\'s post") %>
<div class='container center'>
  <% if @post.video.attached? %>
  <%= cl_video_tag(@post.video.key, height: '100%', controls: true, width: '100%', class:'video-player') %>
  <% end %>
  <div class='user-and-description pb-0'>
    <% if @post.user.avatar.attached? %>
    <%= cl_image_tag(@post.user.avatar.key, class:'avatar-small mr-3')%>
    <% else %>
    <%= image_tag ('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1P9NIBPbZvN_8V2uZ8cVfm4Rnwwel8_UF_89HT238qUQAOZ1p&usqp=CAU'),  class:'avatar-small mr-3' %>
    <% end %>
    <div>
      <b><%= @post.user.username %></b>
      <p><%= @post.description %></p>
    </div>
  </div>
  <%= render  "shared/post_buttons", post: @post %>
  <%= render  "shared/comments_section", post: @post %>
</div>